<%- include("header") -%>

  <div class="box" id="heading">
    <h1 class="animate__animated animate__flip"> <%= listTitle %> </h1>
  </div>

  <div class="box animate__animated animate__zoomInDown">

  <%  newListItems.forEach(function(item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=  item.name  %></p>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </div>
   </form>

  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>" >+</button>
      </form>
  </div>


<%- include("footer") -%>
